
body{
    font-family: Arial;
    margin: 0 auto;
}
.main{
    width: 900px;
    margin: 0 auto;
}
.top{
    height: 30px;
    width: 900px;
    display:flex;
    margin-top: 15px;
}
.kartka{
    /*border: 1px solid green;*/
    height: 30px;
    width: 100px;
    flex-grow: 1;
    font-size: 20px;
    color: grey;
}
.space{
    /*border: 1px solid #fbff16;*/
    height: 30px;
    width: 100px;
    flex-grow: 10;
}
.articul{
    /*border: 1px solid blue;*/
    height: 30px;
    width: 100px;
    flex-grow: 1;
    font-size: 20px;
    color: grey;
    text-align: right;
}
.nom{
    height: 30px;
    width: 100px;
    flex-grow: 1;
    font-size: 20px;
    color: black;
    text-align: right;
    font-weight: bold;
}


.content{
    /*display:flex;*/
    border: 1px solid black;
    width: 900px;
}
.sale{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.6);
    margin: 1%;
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 48px;
    text-align: center;
    color: deepskyblue;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
.foto{
    /*border: 1px solid blue;*/
    width: 45%;
    float: left;
}
.mainFoto{
    /*border: 1px solid red;*/
}
.fotoNext{
    width: 80px;
}
.mainFoto1{
    height: 450px;
    width: 380px;
    margin-left: 5%;
}
.smallFoto{
    height: 180px;
    width: 85px;
    margin:5px;
}
.previev{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 5%;
}
.fph{
    display: flex;
}
.harak{
    text-align: center;
    width: 100%;
    margin-left: 7%;
}
.htitle{
    font-weight: bold;
    font-size: 36px;
    color: grey;
    padding-bottom: 7px;
    border-bottom: 3px solid grey ;
    margin: 1%;
}
.opis{
    text-align: left;
}
ul{
    list-style: none;
    padding-inline-start:20px;
}
.zagol{
    text-align: left;
    font-size: 28px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    margin: 20px;
}
li{
    font-size: 22px;
    color: black;
}
.zagolNiz{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 1%;
    font-size: 28px;
    color: black;
    font-weight: bold;
    border-bottom: 3px solid black;
}
.nizOpis{
    margin-top: 2%;
    margin-left: 3%;
    font-size: 22px;
    color: black;
}
ul.foot{
    margin-top: 10px;
}
li.foot1{
    color: grey;
    font-size: 18px;
}