* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    height: auto;
}
ul li{
    list-style-type: none;
}
button {
    font: inherit;
    background-color: transparent;
}
a{
    text-decoration: none;
}

.overlay{
    background: linear-gradient(0deg, rgba(9, 5, 47, 0.75), rgba(49, 29, 94, 0.76));
    height: 100%;
}
.container{
    max-width: 970px;
    margin: 0 auto;
    padding: 70px 0;
    height: 100%;
}
.slider{
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 22px;
}
.content{
    font-size: 14px;
    font-weight: 300;
}
.line{
    height: 2px;
    width: 50px;
    display: inline-block;
    background: gray;
}
.btn{
    padding: 16px;
    text-transform: uppercase;
    color: #00e0d0;
    border:2px solid #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    transition:color .5s;
}
.btn:hover{
    background-color: #00e0d0;
    color:white;
}


.section-first{
    background: url("../img/first__bg.jpg") no-repeat center / cover;
}
.container-first{
    padding-top: 15px;
}

.firstHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstHeader__logo{

}

.firstMenu{

}
.firstMenu__items{
    display: flex;
}
.firstMenu__item a{
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    transition:color .5s;
    font-weight: bold;
}
.firstMenu__item a:hover{
    color:#00e0d0;
}

.first-slider{

}
.slider__items{
    margin-top: 180px;
}
.slider__item{

}

.firstTitle{
    color: white;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}
.first-line{
    background: #00e0d0;
    margin-bottom:30px;
}
.firstContent{
    color: white;
}

.firstBtn{
    margin-top: 40px;
}

.dotNav{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.dotNav__item{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 3px;
}
.item-active{
    background-color: #00e0d0;
    border-color: #00e0d0;
}

.container-two{
    display: flex;
    justify-content: space-between;
}

.secTwo__logo{
    margin: 0 auto;
    width: 230px;
}
.secTwo__items{
    width: 550px;
}
.secTwo__item{
    display: inline;
}

.twoTitle{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 22px;
}
.twoContent{
    margin-bottom: 35px;
}
.twoBtn{

}

.section-three{
    background: url("../img/three-bg.png") no-repeat center / cover;
    /*height: 550px;*/

}
.container-tree{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.three__items{
    margin: 20vw auto ;
}
.three__logo{
    padding-bottom: 40px;
}
.threeContent{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.three__logo img{
    transition:1s;
}
.three__logo img:hover{
    transform: scale(1.2);
    transition: 1s;
}


.container-four{
    text-align: center;
}
.four-line{
    margin-top: 20px;
    margin-bottom: 45px;
}

.top-cards{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
}
.bottom-cards{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
}

.fourCard__logo{
    margin:35px;
}
.fourCard__items{
    width: 310px;
    height: 250px;
}
.icon-content{
    margin: 30px 35px 45px 35px;
}

.news{
    display: flex;
    flex-direction: column;
    width: 60%;

}
.container-eig{
    display: flex;
}
.name{
    width: 80%;
    padding: 17px;
    margin-bottom: 23px;
    border: 1px solid #e5e5e5;
}
.nameMass{
    width: 100%;
    height: 200px;
    padding: 17px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}
.eigTitle{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.eigBtn{
    background-color: transparent;
    padding: 10px 25px;
}


.client{
    width: 40%;
    flex-wrap: wrap;
    padding-left: 40px;
    display: flex;
}

.eigLeftItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.eigLeftItem{
    margin: 25px 0;
}


.eigRightItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.eigRightItem{
    margin: 25px 0;
}



@media screen and (max-width: 810px){
    .secTwo__items{
        margin-left: 10px;
    }
}

@media screen and (max-width: 655px){
    .firstHeader{
        flex-direction: column;
    }
    .slider__items{
        margin-top: 80px;
    }
    .first-slider{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 510px){
    .firstHeader{
        flex-direction: column;
    }
    .firstMenu__items{
        flex-direction: column;
        text-align: center;
    }
    .firstMenu__item{
        padding-top:10px ;
    }
    .slider__items{
        margin-top: 20px;
    }
    .first-slider{
        width: 95%;
        margin: 0 auto;
    }
    .dotNav{
        margin-top: 10px;
    }
    .firstBtn{
        margin-top: 20px;
    }

    .container-two{
        flex-direction: column;
        margin: 0 auto;
    }
    .secTwo__items{
        width: 95%;
        text-align: center;
    }
}
