@media screen and (max-width: 1000px) {
  .main__title{
    margin-top: 50px;
    font-size: 45px;
    color: #061e37;
    font-weight: 600;
  }
  .headerContent{
    margin-top: 70px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headerContent__left{
    text-align: center;
    margin-bottom: 50px;
  }
  .counts{
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    width: 100%;
  }
  .count{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count:first-child{
    width: 50%;
  }
  .count:last-child{
    width: 50%;
  }
  .reviewContent{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .reviewContent__left{
    text-align: center;
    margin-top: 50px;
  }
  .reviewContent__left button{
    margin-top: 50px;
  }
  .custom__items{
    margin-right: 10px;
  }
}
@media screen and (min-width: 671px) {
  #check-menu{
    display: none;
  }
}


@media screen and (max-width: 670px) {
  .menu {
    display: none;
  }


  .container {
    //margin: 30px auto;
    //width: 80%;
    margin: 0 auto;
    position: relative;
    color: white;
    text-align: center;
    height: 30px;
  }
  #check-menu {
    display: none;
  }
  #check-menuFooter {
    display: none;
  }
  .container label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: 150px;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
  }
  .container a {
    display: block;
    //width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(143deg, rgba(30, 199, 147, 0.84), rgba(0, 144, 166, 0.83));
  }
  .container a:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menuFooter:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }





  .services__open img{
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .video{
    width: 420px;
    height: 240px;
    margin: 10px;
  }

  .contactForm{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  .contactForm__mes{
    width: 260px;
  }
  .footerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .cards{
    display: flex;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-top: 60px;
  }
  .services__open{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .services__open img{
    width: 100%;
    height: 100%;
    margin: 0;

  }
  .drop__text{
    margin: 25px;
  }
  .services__open--hide{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .video{
    width: 220px;
    height: 120px;
    margin: 10px;
  }
  .btn--white{
    margin: 30px ;
  }
  .team__avatars{
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
  .team__avatars img{
    margin:15px;
  }
  .count{
    width: 100%;
  }
  .count:first-child{
    width: 100%;
  }
  .count:last-child{
    width: 100%;
  }
  .footerAbout__items li {
    color: #b0bec5;
    font-size: 15px;
    margin-right: 15px;
  }
  .footerAbout__items li:before {
    padding-right: 0;
  }
  .container label{
    margin-left: 20px;
  }
}