* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}

button {
    font: inherit;
    background-color: transparent;
    border: 0;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.one{
    background: url("../img/banner.png") no-repeat center / cover;
    height: 580px;
    margin-top: 20px;
    width: 100%;
}

.overlay{
    background-color: white;
    height: 65px;
}
.header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    display: flex;
    vertical-align: center;
    margin-left: 30px;
}
.header__text{
    margin: auto 20px;
    font-size: 43px;
}
.header__img{
    height: 100%;
    width: 100%;
}


.menu{
    display: flex;
}
.menu__item{
    padding: 15px 20px;
    font-size: 21px;
    color: #87888a;
}
.menu__mini{
    display: none;
}


.top{
    display: flex;
    justify-content: space-between;
}


.top__phone{
    width: 100%;
}
.top__left{
    margin:65px 0 0 65px ;
}
.top__title{
    font-size: 42px;
    color: white;
}
.top__text{
    font-size: 26px;
    color: white;
}
.fa-check-circle{
    color: white;
    font-size: 22px;
    margin: 0 10px;
}
.sing__text{
    color: white;
    font-size: 22px;
}

.top__right{
    width: 510px;
    padding-top: 170px;
}
.sing{
    height: 45px;
    width: 170px;
    background-color: #5094f2;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 45px;
    display: flex;
}

.two{
    height: 410px;
}

.prod{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.prod__items{
    width: 260px;
    text-align: center;
}
.prod__item{
    font-size: 34px;
    color: #5094f2;
}
.prod__text{
    font-size: 20px;
    color: #87888a;
}

.three{
    height: 100%;
}
.shopping{
    display: flex;
}
.shopping__left img{
    margin: 35px 60px 0;
}
.shopping__title{
    font-size: 42px;
    margin-left: 30px;
    color: #87888a;
}
.shopping__title-small{
    font-size: 26px;
    margin-top: 50px;
}
.shopping__text{
    font-size: 16px;
    line-height: 240%;
    color: #87888a;
}
.copyright{
    text-align: center;
    color: #87888a;
}


@media screen and (max-width: 800px){
    .one{
        background: url("../img/banner.png") no-repeat center / cover;
        height: 480px;
        margin-top: 20px;
        width: 100%;
    }

    .top__right{
        width: 510px;
        padding-top: 50px;
    }

}
@media screen and (max-width: 700px){
    .menu__item{
        display: none;
    }
    .menu__mini{
        display: flex;
    }
    .shopping{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shopping__right{
        width: 80%;
        margin: 0 auto;
    }
    .shopping__title{
        text-align: center;
    }
    .shopping__title-small {
        text-align: left;
        margin-top: 25px;
        margin-left: 0;
    }
    .shopping__text{
        margin: 0 auto;
    }
    .copyright{
        margin-top: 75px;
    }
}

@media screen and (max-width: 600px){
    .one{
        background: url("../img/banner.png") no-repeat center / cover;
        height: 380px;
        margin-top: 20px;
        width: 100%;
    }
    .top__left{
        margin:20px 0 0 10px ;
    }
    .top__title{
        font-size: 30px;
        color: white;
    }
    .top__text{
        font-size: 22px;
        color: white;
    }
    .top__phone{
        min-width: 120px;
    }
    .two{
        height: 100%;
    }
    .prod{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .prod__items{
        display: flex;
        padding: 20px 10px;
        border-bottom: 1px solid grey;
        width: 100%;
    }
    .prod__items img{
        width: 130px;
        margin: 5px;
        height: 100%;
    }

    .prod__char{
        margin: auto 0;
    }

    .prod__item{
        width: 100%;
    }
}

@media screen and (max-width: 510px){
    .shopping__left img {
        width: 200px;
    }
    .sing{
        margin-left: 0px;
        margin-top: 35px;
        display: flex;
    }
    .top__title{
        font-size: 24px;
        color: white;
    }
    .top__text{
        font-size: 16px;
        color: white;
    }

}