* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}
button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.left {
    height: 610px;
    width: 465px;
    background-color: #37b0ae;
    position: relative;
}
.right {
    height: 700px;
    width: 545px;
    background-color: white;
    padding: 80px 0 0 80px;
}

.left__logo{
    /*!*position: absolute;*!*/
    /*top: 25px;*/
    /*left: 25px;*/
    margin: 30px 0 0 25px;
}

.left__camera{
    z-index: 100;
    margin: 40px 0 0 -45px ;
}

.left__shadow{
    z-index: 10;
    position: absolute;
    left: -85px;
    top: 260px;
}


.preview{
    position: absolute;
    left: 425px;
    top: 150px;
    z-index: 15;
}
.preview__mini{
    height: 95px;
    width: 95px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    margin-bottom: 13px;
    transition: box-shadow 1s;
}
.preview__mini:last-child{
    margin-bottom: 0;
}
.preview__mini:hover{
    box-shadow:  0 0 2px rgba(0,0,0,0.5);
    transition: 1s;
}
.preview__mini img{
    margin-top: 10px;
}


.right__title{
    font-size: 34px;
    text-transform: uppercase;
    color: #3a4d5c;
}
.right__subtitle{
    font-size: 16px;
    text-transform: uppercase;
    color: #89949d;
}

.features{
    margin-top: 35px;
}

.features__title{
    font-size: 13px;
    color: #3a4d5c;
    text-transform: uppercase;
    line-height: 1.5
}

li{
    list-style-type: none;
}
.features li:before {
    color: #37b0ae; /* Цвет маркера */
    content: "■ "; /* Сам маркер */
    width: 2px;
    height: 2px;
    padding-right: 5px; /* Расстояние от маркера до текста */
}
.features__text{
    font-size: 13px;
    color: #3a4d5c;
    line-height: 2;
}

.info{
    margin-top: 55px;
    position: relative;
}

.info__text{
    text-transform: uppercase;
    position: absolute;
    font-size: 11px;
}
.info__text:nth-child(2){
    left: 75px;
}
.info__text:nth-child(3){
    left: 185px;
}
.info__text:nth-child(4){
    top: 30px;
}

.counter{
    display: flex;
    margin-top: 115px ;
}
.counter__right{
    width: 40px;
    height: 35px;
    border: 1px solid #3a4d5c;
    text-align: center;
}

.counter__right:nth-child(2){
    border-right: none ;
    border-left: none;
}

.price{
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}

.price__new{
    font-size: 37px;
    text-transform: uppercase;
    color: #3a4d5c;
    font-weight:bold ;
}
.price__old{
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.buttons{
    margin-top: 40px;
}

.buttons__right{
    height: 45px;
    width: 200px;
    background-color: #37b0ae;
    font-size: 16px;
    color: white;
    transition: color 1s;
}
.buttons__right-wish{
    background-color: white;
    color: #89949d;
    border: 1px solid #89949d;
    margin-left: 15px;
    transition: color 1s;
}

.buttons__right:hover{
    background-color: white;
    color: #37b0ae;
    border: 1px solid #89949d;
    transition: 1s;
}
.buttons__right-wish:hover{
    background-color: #37b0ae;
    font-size: 16px;
    color: white;
    border: none;
    transition: 1s;
}

@media screen and (max-width: 1020px) {
    .left{
        height: 620px;
    }
    .left__camera {
        margin: 0 0 0 0 ;
        width: 100%;
    }
    .left__shadow{
        width: 100%;
        margin-left: 85px;
    }
    .preview {
        /*position: absolute;*/
        display: flex;
        /*left: 75px;*/
        /*top: 510px;*/
        /*z-index: 15;*/
        flex-direction: row-reverse;
        margin: auto;
        position: absolute;
        top: 510px;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
    }
    .preview__mini{
        margin: 7px;
    }
    .buttons__right{
        margin: 5px;
    }
}

@media screen and (max-width: 400px) {
    .right{
        padding: 10px;
    }
    .preview {
        /*position: absolute;*/
        display: flex;
        /*left: 75px;*/
        /*top: 510px;*/
        /*z-index: 15;*/
        flex-direction: row-reverse;
        margin: auto;
        position: absolute;
        top: 460px;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
    }
    .left{
        height: 570px;
    }
}