* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}
button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.left {
    height: 610px;
    width: 465px;
    background-color: #37b0ae;
}
.right {
    height: 700px;
    width: 545px;
    background-color: white;
}

.left__items{
    position: relative;
}
.left__logo{
    position: absolute;
    top: 25px;
    left: 25px;
}

.left__camera{
    position: absolute;
    top: 85px;
    left: -40px;
    z-index: 10;
}

.left__shadow{
    position: absolute ;
    top: 270px;
    left: -85px;
    z-index: 1;
}


.left__preview{
    position: absolute;
    left: 415px;
    top: 150px;
    z-index: 15;
}
.left__mini{
    height: 95px;
    width: 95px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    margin-bottom: 13px;
    transition: box-shadow 1s;
}
.left__mini:last-child{
    margin-bottom: 0;
}
.left__mini:hover{
    box-shadow:  0 0 2px rgba(0,0,0,0.5);
    transition: 1s;
}
.left__mini img{
    margin-top: 10px;
}


.right__items{
    margin: 80px 0 0 90px;
}
.right__title{
    font-size: 34px;
    text-transform: uppercase;
    color: #3a4d5c;
}
.right__subtitle{
    font-size: 16px;
    text-transform: uppercase;
    color: #89949d;
}

.right_features{
    margin-top: 35px;
}

.features__title{
    font-size: 13px;
    color: #3a4d5c;
    text-transform: uppercase;
    line-height: 1.5
}

li{
    list-style-type: none;
}
.right_features li:before {
    color: #37b0ae; /* Цвет маркера */
    content: "■ "; /* Сам маркер */
    width: 2px;
    height: 2px;
    padding-right: 5px; /* Расстояние от маркера до текста */
}
.features__text{
    font-size: 13px;
    color: #3a4d5c;
    line-height: 2;
}

.right__info{
    margin-top: 55px;
    position: relative;
}

.info__text{
    text-transform: uppercase;
    position: absolute;
    font-size: 11px;
}
.info__text:nth-child(2){
    left: 75px;
}
.info__text:nth-child(3){
    left: 185px;
}
.info__text:nth-child(4){
    top: 30px;
}

.right__counter{
    display: flex;
    margin-top: 115px ;
}
.right__count{
    width: 40px;
    height: 35px;
    border: 1px solid #3a4d5c;
    text-align: center;
}

.right__count:nth-child(2){
    border-right: none ;
    border-left: none;
}

.right__price{
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}

.price__new{
    font-size: 37px;
    text-transform: uppercase;
    color: #3a4d5c;
    font-weight:bold ;
}
.price__old{
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.right__buttons{
    margin-top: 40px;
}

.right__button{
    height: 45px;
    width: 200px;
    background-color: #37b0ae;
    font-size: 16px;
    color: white;
    transition: color 1s;
}
.right__button-wish{
    background-color: white;
    color: #89949d;
    border: 1px solid #89949d;
    margin-left: 15px;
    transition: color 1s;
}

.right__button:hover{
    background-color: white;
    color: #37b0ae;
    border: 1px solid #89949d;
    transition: 1s;
}
.right__button-wish:hover{
    background-color: #37b0ae;
    font-size: 16px;
    color: white;
    border: none;
    transition: 1s;
}